table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid #75a7ef;
    padding: 3px;
}

th {
    background: #75a7ef;
    color: white;
}

td {
    font-weight: bold;
}
